<section class="details-page" *ngIf="!isLoading">
  <ng-container *ngIf="recipe; else errorTpl">
    <button type="button" class="back-btn" (click)="goBackToLibrary()">
      ← Back to Recipe Library
    </button>

    <header class="details-header">
      <h1 class="details-title">{{ recipe.name }}</h1>
      <div class="details-tags">
        <span class="tag category-tag">
          {{ recipe.category | titlecase }}
        </span>

        <span class="tag iron-tag">
          {{ recipe.iron_mg }} mg iron
        </span>

        <ng-container *ngFor="let pref of recipe.dietary_preferences">
          <span class="tag pref-tag">
            {{ pref | titlecase }}
          </span>
        </ng-container>

        <ng-container *ngFor="let allergy of recipe.allergies">
          <span class="tag allergy-tag">
            Allergy: {{ allergy | titlecase }}
          </span>
        </ng-container>
      </div>

      <p class="time-row">
        Prep: {{ recipe.prep_time_minutes }} min ·
        Cook: {{ recipe.cook_time_minutes }} min
        <span *ngIf="totalTime !== null">
          · Total: {{ totalTime }} min
        </span>
      </p>
    </header>

    <section class="details-body">
      <h2>Ingredients</h2>
      <ul class="ingredients-list">
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient }}
        </li>
      </ul>
    </section>

    <section class="instructions-section">
      <h4>Instructions</h4>
      <p>
          {{ recipe.instructions | titlecase }}
      </p> 
    </section>

  </ng-container>
</section>

<section class="details-page" *ngIf="isLoading">
  <p class="status-text">Loading recipe…</p>
</section>

<ng-template #errorTpl>
  <section class="details-page">
    <p class="status-text" *ngIf="errorMessage; else notFoundTpl">
      {{ errorMessage }}
    </p>
    <ng-template #notFoundTpl>
      <p class="status-text">Recipe not found.</p>
    </ng-template>

    <button type="button" class="back-btn" (click)="goBackToLibrary()">
      ← Back to Recipe Library
    </button>
  </section>
</ng-template>

