.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  background-color: rgba(250, 128, 114, 0.8);
  backdrop-filter: blur(8px);
  transition: box-shadow 0.3s;

}

.recipe-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card-content h3 {
  margin: 0 0 0.5rem 0;
}

.recipe-card-content p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.search-input{
    width: 90%;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    background-color:#f5ece6;
    
}